In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("C:/Users/VISHRUTH NIMALAN/Downloads/data.csv")
df

,Reviewer Name,Review Title,Place of Review,Up Votes,Down Votes,Month,Review text,Ratings
0,Kamal Suresh,Nice product,"Certified Buyer, Chirakkal",889.0,64.0,Feb 2021,"Nice product, good quality, but price is now r...",4
1,Flipkart Customer,Don't waste your money,"Certified Buyer, Hyderabad",109.0,6.0,Feb 2021,They didn't supplied Yonex Mavis 350. Outside ...,1
2,A. S. Raja Srinivasan,Did not meet expectations,"Certified Buyer, Dharmapuri",42.0,3.0,Apr 2021,Worst product. Damaged shuttlecocks packed in ...,1
3,Suresh Narayanasamy,Fair,"Certified Buyer, Chennai",25.0,1.0,NaN,"Quite O. K. , but nowadays the quality of the...",3
4,ASHIK P A,Over priced,NaN,147.0,24.0,Apr 2016,Over pricedJust â?¹620 ..from retailer.I didn'...,1
...,...,...,...,...,...,...,...,...
8513,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5
8514,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2
8515,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4
8516,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1
8517,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4

In [3]:
df1 = df[['Review text','Ratings']]

In [4]:
df1.isnull().sum()

Review text    8
Ratings        0
dtype: int64

In [5]:
df1.dropna(inplace=True)

C:\Users\VISHRUTH NIMALAN\AppData\Local\Temp\ipykernel_9100\3614008390.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df1.dropna(inplace=True)

In [6]:
df1

                                            Review text  Ratings
0     Nice product, good quality, but price is now r...        4
1     They didn't supplied Yonex Mavis 350. Outside ...        1
2     Worst product. Damaged shuttlecocks packed in ...        1
3     Quite O. K. , but nowadays  the quality of the...        3
4     Over pricedJust â?¹620 ..from retailer.I didn'...        1
...                                                 ...      ...
8505  Delivered before time but price is high from m...        3
8506  up to the mark but same is available in market...        4
8507                       Nice delivery speedREAD MORE        5
8508  No complaints about the item . Its the best on...        5
8509  Not sure why we have charged for this product ...        1

[8510 rows x 2 columns]

In [7]:
def categorize_sentiment(rating):
    if rating >= 4:
        return 'Positive'
    elif rating <= 2:
        return 'Negative'
    else:
        return 'Neutral'

df1['Sentiment'] = df1['Ratings'].apply(categorize_sentiment)

C:\Users\VISHRUTH NIMALAN\AppData\Local\Temp\ipykernel_9100\3809350880.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df1['Sentiment'] = df1['Ratings'].apply(categorize_sentiment)

In [8]:
df1

                                            Review text  Ratings Sentiment
0     Nice product, good quality, but price is now r...        4  Positive
1     They didn't supplied Yonex Mavis 350. Outside ...        1  Negative
2     Worst product. Damaged shuttlecocks packed in ...        1  Negative
3     Quite O. K. , but nowadays  the quality of the...        3   Neutral
4     Over pricedJust â?¹620 ..from retailer.I didn'...        1  Negative
...                                                 ...      ...       ...
8505  Delivered before time but price is high from m...        3   Neutral
8506  up to the mark but same is available in market...        4  Positive
8507                       Nice delivery speedREAD MORE        5  Positive
8508  No complaints about the item . Its the best on...        5  Positive
8509  Not sure why we have charged for this product ...        1  Negative

[8510 rows x 3 columns]

In [9]:
df1['Sentiment'].value_counts(normalize=True)

Sentiment
Positive    0.801763
Negative    0.125969
Neutral     0.072268
Name: proportion, dtype: float64

# Step 1 - Identify Input and Output

In [10]:
X = df1[['Review text']]
y = df1['Sentiment']

# Step 2 - Split the Data into Train and Test

In [11]:
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=1)

print(X_train.shape, y_train.shape)
print(X_test.shape, y_test.shape)

(6382, 1) (6382,)
(2128, 1) (2128,)

# Step 3 - Data Preprocessing on train data

In [12]:
import nltk
from nltk.corpus import stopwords
from nltk.stem.porter import PorterStemmer
from nltk.stem import WordNetLemmatizer
import re
nltk.download('stopwords')
nltk.download('wordnet')

[nltk_data] Downloading package stopwords to C:\Users\VISHRUTH
[nltk_data]     NIMALAN\AppData\Roaming\nltk_data...
[nltk_data]   Unzipping corpora\stopwords.zip.
[nltk_data] Downloading package wordnet to C:\Users\VISHRUTH
[nltk_data]     NIMALAN\AppData\Roaming\nltk_data...

True

In [13]:
stemmer=PorterStemmer()
lemmatizer=WordNetLemmatizer()

In [14]:
def preprocess(text, flag):
    # remove special characters
    sentence = re.sub(r'[^a-zA-Z]', ' ', text)
    # convert sentence into lower case
    sentence = sentence.lower()
    # tokenize sentence into words
    tokens = sentence.split()
    # remove stop words
    clean_tokens = [token for token in tokens if token not in stopwords.words("english")]
    # stemming/lemmatization
    if flag == 'stem':
        clean_tokens = [stemmer.stem(token) for token in clean_tokens]
    else:
        clean_tokens = [lemmatizer.lemmatize(token) for token in clean_tokens]
    return pd.Series(' '.join(clean_tokens))

In [15]:
%time
X_train_transformed = X_train['Review text'].apply(lambda x: preprocess(x, flag='lemma'))
X_train_transformed.head()

CPU times: total: 0 ns
Wall time: 0 ns

                                                      0
1095                                          nice read
7326                               good dry weatherread
1377                                     well brandread
2127  firstly yonex best company badminton shuttle b...
5096                                           goodread

In [16]:
X_train_transformed.columns = ['clean_text_lemma']
X_train_transformed.head()

                                       clean_text_lemma
1095                                          nice read
7326                               good dry weatherread
1377                                     well brandread
2127  firstly yonex best company badminton shuttle b...
5096                                           goodread

# Step 4 - Data Preprocessing on test data

In [17]:
%time
X_test_transformed= X_test['Review text'].apply(lambda x: preprocess(x, flag='lemma'))
X_test_transformed.head()

CPU times: total: 0 ns
Wall time: 0 ns

                                  0
3733                   awesome read
3491                       goodread
2532                       niceread
4429  nice product better priceread
2698            genuine productread

In [18]:
X_test_transformed.columns = ['clean_text_lemma']
X_test_transformed.head()

                   clean_text_lemma
3733                   awesome read
3491                       goodread
2532                       niceread
4429  nice product better priceread
2698            genuine productread

In [19]:
import warnings
warnings.filterwarnings('ignore')

In [20]:
from sklearn.pipeline import Pipeline
from sklearn.feature_extraction.text import CountVectorizer, TfidfVectorizer
from sklearn.naive_bayes import MultinomialNB
from sklearn.linear_model import LogisticRegression
from sklearn.tree import DecisionTreeClassifier
from sklearn.model_selection import GridSearchCV

In [21]:
import joblib
from joblib import Memory
import time

In [22]:
# Define a memory object to cache intermediate results
cachedir = '.cache'
memory = Memory(location=cachedir, verbose=0)

pipelines = {
    'naive_bayes': Pipeline([
        ('vectorization', CountVectorizer()),
        ('classifier', MultinomialNB())
    ], memory=memory),
    'decision_tree': Pipeline([
        ('vectorization', CountVectorizer()),
        ('classifier', DecisionTreeClassifier())
    ], memory=memory),
    'logistic_regression': Pipeline([
        ('vectorization', CountVectorizer()),
        ('classifier', LogisticRegression())
    ], memory=memory)
}

# Define parameter grid for each algorithm
param_grids = {
    'naive_bayes': [
        {
            'vectorization': [CountVectorizer(), TfidfVectorizer()],
            'vectorization__max_features' : [1000, 1500, 2000, 5000],
            'classifier__alpha' : [1, 10]
        }
    ],
    'decision_tree': [
        {
            'vectorization': [CountVectorizer(), TfidfVectorizer()],
            'vectorization__max_features' : [1000, 1500, 2000, 5000],
            'classifier__max_depth': [None, 5, 10]
        }
    ],
    'logistic_regression': [
        {
            'vectorization': [CountVectorizer(), TfidfVectorizer()],
            'vectorization__max_features' : [1000, 1500, 2000, 5000],
            'classifier__C': [0.1, 1, 10],
            'classifier__penalty': ['elasticnet'],
            'classifier__l1_ratio': [0.4, 0.5, 0.6],
            'classifier__solver': ['saga'],
            'classifier__class_weight': ['balanced']
        }
    ]
}

# Perform GridSearchCV for each algorithm
best_models = {}

for algo in pipelines.keys():
    print("*"*10, algo, "*"*10)
    grid_search = GridSearchCV(estimator=pipelines[algo],
                               param_grid=param_grids[algo],
                               cv=5,
                               scoring='f1_weighted',
                               return_train_score=True,
                               verbose=1
                              )

    %time grid_search.fit(X_train_transformed['clean_text_lemma'], y_train)

    best_models[algo] = grid_search.best_estimator_

    print('Score on Test Data: ', grid_search.score(X_test_transformed['clean_text_lemma'], y_test))

********** naive_bayes **********
Fitting 5 folds for each of 16 candidates, totalling 80 fits
CPU times: total: 3.58 s
Wall time: 12.7 s
Score on Test Data:  0.8304274526902422
********** decision_tree **********
Fitting 5 folds for each of 24 candidates, totalling 120 fits
CPU times: total: 4.41 s
Wall time: 14.6 s
Score on Test Data:  0.8077546171940281
********** logistic_regression **********
Fitting 5 folds for each of 72 candidates, totalling 360 fits
CPU times: total: 7min 29s
Wall time: 14min 31s
Score on Test Data:  0.8158656055585719

In [23]:
for name, model in best_models.items():
    print(f"{name}")
    print(f"{model}")
    print()

naive_bayes
Pipeline(memory=Memory(location=.cache\joblib),
         steps=[('vectorization', CountVectorizer(max_features=1000)),
                ('classifier', MultinomialNB(alpha=1))])

decision_tree
Pipeline(memory=Memory(location=.cache\joblib),
         steps=[('vectorization', CountVectorizer(max_features=5000)),
                ('classifier', DecisionTreeClassifier())])

logistic_regression
Pipeline(memory=Memory(location=.cache\joblib),
         steps=[('vectorization', CountVectorizer(max_features=5000)),
                ('classifier',
                 LogisticRegression(C=1, class_weight='balanced', l1_ratio=0.4,
                                    penalty='elasticnet', solver='saga'))])

In [26]:
from sklearn import metrics
import os

In [27]:
for name, model in best_models.items():
    print("*"*10, name, "*"*10)
    
    # Create directory if it doesn't exist
    os.makedirs('best_models/', exist_ok=True)
    
    joblib.dump(model, f'best_models/{name}.pkl')
    model = joblib.load(f'best_models/{name}.pkl')
    
    %time
    y_test_pred = model.predict(X_test_transformed['clean_text_lemma'])
    print("Test Score (F1)", metrics.f1_score(y_test, y_test_pred, average='weighted'))
    
    print("Model Size:", os.path.getsize(f'best_models/{name}.pkl'), "Bytes")

********** naive_bayes **********
CPU times: total: 0 ns
Wall time: 0 ns
Test Score (F1) 0.8304274526902422
Model Size: 97583 Bytes
********** decision_tree **********
CPU times: total: 0 ns
Wall time: 0 ns
Test Score (F1) 0.8077546171940281
Model Size: 251345 Bytes
********** logistic_regression **********
CPU times: total: 0 ns
Wall time: 0 ns
Test Score (F1) 0.8158656055585719
Model Size: 130074 Bytes